.background-radial-gradient {
   background-color: hsl(218, 41%, 15%);
   background-image: radial-gradient(650px circle at 0% 0%,
   hsl(219, 61%, 59%) 15%,
   hsl(218, 45%, 52%) 35%,
   hsl(219, 41%, 36%) 75%,
   hsl(218, 49%, 32%) 80%,
   transparent 100%),
   radial-gradient(1250px circle at 100% 100%,
   hsl(218, 65%, 61%) 15%,
   hsl(218, 41%, 50%) 35%,
   hsl(219, 44%, 35%) 75%,
   hsl(218, 40%, 28%) 80%,
   transparent 100%);
}

#radius-shape-1 {
   height: 220px;
   width: 220px;
   top: -60px;
   left: -130px;
   background: radial-gradient(rgb(0, 9, 107), #5a73fe);
   overflow: hidden;
}

#radius-shape-2 {
   border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
   bottom: -60px;
   right: -110px;
   width: 300px;
   height: 300px;
   background: radial-gradient(#10006b, #1f97ff);
   overflow: hidden;
}

.bg-glass {
   background-color: #f6f9ff;
   backdrop-filter: saturate(200%) blur(25px);
}