.judul_card{
   font-size: 15px;
   font-weight: 500;
   color: grey;
   font-family: "Poppins", sans-serif;
}

.body_card{
   padding: 15px 10px 15px 10px;
}

.level_user_card .card-icon {
   color: #ff771d;
   background: #ffecdf;
 }

 .pekerjaan_card .card-icon {
   color: #4154f1;
   background: #f6f6fe;
 }

 .target_tahun_card .card-icon{
   color: #2eca6a;
   background: #e0f8e9;
 }

 .task_selesai_card .card-icon{
   color: #ca2eb8;
   background: #fbddf0;
 }

 .card_title_firter_poin_harian{
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
 }

 .table-bordered {
  border: 1px solid #ddd;
}

.table-bordered th {
  border: 1px solid #ddd;
  background-color: #0d6efd;
  color: white;
}

.table-bordered td{
  border: 1px solid #ddd;
}

.gambar{
  width: 50px;
  height: 65px;
}

.centered_gambar {
  text-align: center;
}

.centered_gambar img {
  display: block;
  margin: 0 auto;
}

.btn-group {
  display: flex;
  gap: 5px; /* Jarak antara tombol */
}



 
