.judul_card{
   font-size: 15px;
   font-weight: 500;
   color: grey;
   font-family: "Poppins", sans-serif;
}

.body_card{
   padding: 15px 10px 15px 10px;
}

.level_user_card .card-icon {
   color: #ff771d;
   background: #ffecdf;
 }

 .pekerjaan_card .card-icon {
   color: #4154f1;
   background: #f6f6fe;
 }

 .target_tahun_card .card-icon{
   color: #2eca6a;
   background: #e0f8e9;
 }

 .task_selesai_card .card-icon{
   color: #ca2eb8;
   background: #fbddf0;
 }

 .card_title_firter_poin_harian{
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
 }
 
